<h2>About Me</h2>
<hr class="bar" />
<div class="blurb">

<p> Hi! I am Alex Mara, a PhD Candidate at Ghent University. I am part of the Artificial Intelligence and Data Analytics (<a href="https://aida.ugent.be" rel="noopener noreferrer" target="_blank">AIDA</a>) research group led by <a href="http://www.tijldebie.net" rel="noopener noreferrer" target="_blank">Prof. Tijl De Bie</a> and my current research is centered around graphs. More specifically, I work on new vector representations for graph data that allows us to effectively and efficiently perform traditional downstream predictions tasks such as classification and inference. On this page you can find more information about me, my research interests, publications and other activities. </p>

<img src="/images/nw_embedding.png" class="img-centered" alt="" style="max-width: 60%; height: auto;">

<p> Regarding my education, previous to the PhD I obtained an MSc in Computer Communication and Information Sicences (Machine Learning and Data Mining Major) from <a href="https://www.aalto.fi/en" rel="noopener noreferrer" target="_blank">Aalto University</a> and a BSc in Computer Engineering from the <a href="https://www.upm.es/" rel="noopener noreferrer" target="_blank">Technical University of Madrid</a>. I graduated with honours from both programs and received several mentions and awards. You can check out my full CV <a href="files/Curriculum_Vitae.pdf" rel="noopener noreferrer" target="_blank">here</a>. </p>

<img src="/images/logos.png" class="" alt="" style="max-width: 45%; height: auto; margin-left: 30%; margin-bottom: 5%">

<p> On my free time I like to practice sports mainly mountain biking, calisthenics and climbing. I also enjoy playing videogames both recent ones as well as the classics (P.S.: try searching for a non-existend subdomain on my website, like <a href="https://dru-mara.github.io/notfound" rel="noopener noreferrer" target="_blank">this one</a> :P). </p>

</div>

