<h2 id="about-me">About Me</h2>
<hr class="bar" />
<div class="blurb">
<p> Hi! I am Alex Mara, a PhD Candidate at Ghent University. I am part of the Artificial Intelligence and Data Analytics (<a href="https://aida.ugent.be" rel="noopener noreferrer" target="_blank">AIDA</a>) research group led by <a href="http://www.tijldebie.net" rel="noopener noreferrer" target="_blank">Prof. Tijl De Bie</a> and my current research is centered around graphs. More specifically, I work on new vector representations for graph data that would allow us to effectively and efficiently perform traditional downstream predictions tasks such as classification and inference. </p>
<p> Before my PhD, I obtained an MSc in Computer Communication and Information Sicences (Machine Learning and Data Mining Major) from Aalto University and a BSc in Computer Engineering from the Technical University of Madrid. You can check out my full CV <a href="files/Curriculum_Vitae.pdf" rel="noopener noreferrer" target="_blank">here</a>. </p>
</div>

