<nav class="navbar navbar-fixed-top">
<div class="navbar-header">
<ul class="navbar-default">
  <li class="navbar-li"><a class="page-scroll" href="#aboutme">About Me</a></li>
  <li class="navbar-li"><a class="page-scroll" href="#interests">Research Interests</a></li>
  <li class="navbar-li"><a class="page-scroll" href="#publications">Publications</a></li>
  <li class="navbar-li"><a class="page-scroll" href="#teaching">Teaching Experience</a></li>
  <li class="navbar-li"><a class="page-scroll" href="#others">Other Activities</a></li>
</ul>
</div>
</nav>
