<h2>Other Activities</h2>
<hr class="bar" />
<div class="blurb">
    <ul class="list-group">
    	<li class="list-group-item">Virtual conference chair, <a href="https://ecmlpkdd2020.net/" rel="noopener noreferrer" target="_blank">ECMLPKDD</a>, 2020</li>
  	<li class="list-group-item">Group Lead, <a href="https://www.slush.org/" rel="noopener noreferrer" target="_blank">Slush Music</a> construction team, 2017 </li>
  	<li class="list-group-item">Volunteer, <a href="https://www.slush.org/" rel="noopener noreferrer" target="_blank">Slush</a> event help team, 2016 </li>
  	<li class="list-group-item">Volunteer, <a href="https://esnaalto.org/" rel="noopener noreferrer" target="_blank">ESN Aalto</a>, 2016-2017 </li>
    </ul>
</div>
