<div class="Publications">
    <div class="cd-timeline-header">
        <h2 id="publications">Publications</h2>
        <hr class="bar" />
    </div>
    <div class="cd-timeline-header">
        <h3 id="journal">Journal Articles</h3>
    </div>
    <div class="blurb">
    <ul class="list-group">
        <li class="list-group-item">Jung, A., Hero, III, A. O., <b>Mara, A.</b>, Jahromi, S., Heimowitz, A., & Eldar, Y. C. (2019). <a href="https://ieeexplore.ieee.org/document/8902040" rel="noopener noreferrer" target="_blank">Semi-supervised learning in network-structured data via total variation minimization.</a> IEEE Transactions on Signal Processing, 67(24), 6256–6269.</li>
  	<li class="list-group-item">Jung, A., Tran, N., & <b>Mara, A.</b> (2018). <a href="https://www.frontiersin.org/articles/10.3389/fams.2017.00028/full" rel="noopener noreferrer" target="_blank">When is network lasso accurate?</a> Frontiers in Applied Mathematics and Statistics, 3, 28.</li>
    </ul>
    </div>
    
    <div class="cd-timeline-header">
        <h3 id="conference">Conference Proceedings</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Adriaens, F., <b>Mara, A.</b>, Lijffijt, J., & De Bie, T. (2020). <a href="https://arxiv.org/abs/2002.07076" rel="noopener noreferrer" target="_blank">Block-approximated exponential random graphs.</a> In 2020 IEEE 7th International Conference on Data Science and Advanced Analytics.</li>
  	<li class="list-group-item"><b>Mara, A.</b>, Lijffijt, J., & d. Bie, T. (2020). <a href="https://arxiv.org/abs/2002.11522" rel="noopener noreferrer" target="_blank">Benchmarking network embedding models for link prediction: are we making progress?</a> In 2020 IEEE 7th International Conference on Data Science and Advanced Analytics.</li>
  	<li class="list-group-item"><b>Mara, A.</b>, Mashayekhi, Y., Lijffijt, J., & De Bie, T. (2020). <a href="https://arxiv.org/abs/2005.10701" rel="noopener noreferrer" target="_blank">CSNE: conditional signed network embedding.</a> In Proceedings of the 29th ACM International Conference on Information Knowledge Management</li>
  	<li class="list-group-item"><b>Mara, A.</b> & Jung, A. (2017). <a href="https://arxiv.org/abs/1709.01402" rel="noopener noreferrer" target="_blank">Recovery conditions and sampling strategies for network lasso.</a> In 51st asilomar conference on signals, systems and computers. Finalist of the Asilomar 2017 best student paper contest.</li>
  	<li class="list-group-item">Zhu, B., <b>Mara, A.</b>, & Mozo, A. (2015). <a href="https://link.springer.com/chapter/10.1007%2F978-3-319-23201-0_20" rel="noopener noreferrer" target="_blank">Clus: parallel subspace clustering algorithm on spark.</a> In T. Morzy, P. Valduriez, & L. Bellatreche (Eds.), New trends in databases and information systems.</li>
    </ul>
    <div class="cd-timeline-header">
        <h2></h2></div>
</div>
